:root {
  --the-white: #fff;
  --the-whitish: #f8f7f5;
  --the-black: #000;
  --the-blue: #496b7c;
  --the-primary: #b49087;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");

@font-face {
  font-family: "acicons";
  src: url("font/acicons.eot?54346715");
  src: url("font/acicons.eot?54346715#iefix") format("embedded-opentype"),
    url("font/acicons.woff2?54346715") format("woff2"),
    url("font/acicons.woff?54346715") format("woff"),
    url("font/acicons.ttf?54346715") format("truetype"),
    url("font/acicons.svg?54346715#acicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'acicons';
      src: url('../font/acicons.svg?54346715#acicons') format('svg');
    }
  }
  */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "acicons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-iconmonstr-email-1-(2)-1:before {
  content: "\e800";
} /* '' */
.icon-iconmonstr-linkedin-2-2:before {
  content: "\e801";
} /* '' */
.icon-iconmonstr-smartphone-1-1:before {
  content: "\e802";
} /* '' */
.icon-iconmonstr-behance-2-2:before {
  content: "\e803";
} /* '' */
.icon-iconmonstr-dribbble-2-2:before {
  content: "\e804";
} /* '' */

/* '' */

/***************************************************************
    Typography
***************************************************************/

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .nf-form-cont {
    width: 540px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul {
  font-family: "Rubik", sans-serif;
  color: var(--the-primary);
}

h1,
h2 {
  color: var(--the-primary);
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px 0 0 0;
}

h1 {
  font-size: 3.5em;
  padding: 20px 0 0 0;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  color: var(--the-blue);
  margin-bottom: 40px;
  word-wrap: anywhere;
  animation: slideInDown;
  animation-duration: 2s;
}
h3 {
  font-size: 2em;
  font-weight: 800;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--the-primary);
}

ul {
  padding-left: 0;
}

li {
  position: relative;
  margin-left: 25px;
  font-size: 1.2em;
  line-height: 1.5;
}

li::marker {
  left: 0;
  top: 0;
  font-size: 25px;
  color: var(--the-primary);
}

hr {
  margin: 20px 0;
  color: #2c2f2a;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #91ba40;
}

a:hover {
  color: #b4b6b2;
  text-decoration: none;
}

p {
  font-size: 1.2em;
  color: var(--the-primary);
}

img {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
  transition: 500ms ease-in-out;
}

/*Responsivenes*/

/* .container {
  max-width: 90%;
} */

/* Home Page */

.title-name h1 {
  position: relative;
}

.title-name h1::after {
  content: url(../img/waving-hand.png);
  position: absolute;
  top: 10px;
}

.section.intro {
  text-align: center;
  margin: 100px 0;
}

.section.intro h4 {
  margin: 40px 0;
}

.check-latest p {
  margin-top: 40px;
}

/* Projects */

.project-wrapper {
  border-bottom: 1px solid var(--the-primary);
  padding: 60px 0;
}

.project-wrapper p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Buttons */

.btn {
  padding: 0;
}

.btn a {
  border: 1px solid var(--the-primary);
  padding: 20px;
  color: var(--the-primary);
  transition: 300ms ease-in-out;
  display: inline-block;
}

.btn a:hover {
  background: var(--the-primary);
  color: var(--the-whitish);
}

/*********************************************
                Footer 
*********************************************/

.footer-wrapper {
  padding: 40px 0;
  text-align: center;
}

.footer-social a {
  color: var(--the-primary);
  font-size: 1.5em;
}

/*PAGINATION*/

.pagination {
  clear: both;
  padding: 0px 0 50px 0;
  position: relative;
  font-size: 1.2em;
  line-height: 13px;
  float: right;
}

.pagination a,
.pagination span {
  display: block;
  float: left;
  font-weight: 200;
  margin: 2px 2px 2px 0;
  padding: 15px;
  text-decoration: none;
  width: auto;
  color: var(--the-whitish);
  background: var(--the-primary);
  transition: 900ms;
}

.pagination a:hover {
  color: var(--the-whitish);
  background: var(--the-blue);
}

.pagination .current {
  padding: 15px;
  background: var(--the-brown);
  color: var(--the-light-gray);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 7%;
  top: 90%;
  display: none;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: none;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline;
  margin-right: 20px;
  float: left;
}

.owl-theme .owl-dots .owl-dot span {
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 5%;
  width: 20px;
  height: 20px;
  /* margin-left: 4px;
    margin-right: 4px; */
  background: #b4b6b2;
  border: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #91ba40;
}

/* make slider fill page */
.owl-carousel .owl-item img {
  object-fit: cover;
  min-height: 500px;
}

.owl-carousel {
  position: relative;
  height: 100%;
}

#homeSlider {
  height: 100vh;
}

/*********************************************************************
                PAGINATION STYLES
********************************************************************/
.page-numbers {
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 700;
}

.pages {
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-numbers .current {
  background-color: #282828;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -1.2em;
  }

  50% {
    top: -2.4em;
  }

  75% {
    top: -3.6em;
  }
}
